body{
    margin: 0% 10%;
    background-color:aliceblue;
    color: rgb(7, 7, 70);
}
body p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}
body h1{
    font-size: 200%;
}
body button{
    background-color: rgb(7, 7, 70);
    color: white;
}
.nav-bar-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.nav-bar-container h1{
    margin-top: -1%;
}
.navigation-bar  li{
    display:inline-block;
    list-style-type: none;
    padding: 10px 12px;
    font-size: 150%;
}
.navigation-bar button{
    background-color: rgb(7, 7, 70);
    color:white;
    margin-left: 0% 30%;
    padding: 10px 12px;
    border-radius: 9px;
}
.welcome{
    margin:0% 30%;
    
}
.welcome h4{
    margin:0% 26%;
}
.welcome h1{
    color: rgb(7, 7, 70);
}
.welcome button{
    padding: 14px;
    margin: 5% 25%;
    border-radius: 8px;
}
.slide-images{
    behavior: scroll;
    direction: left;
}
img{
    width: 50%;
    /* height: 5px; */
    border-radius: 9px;
}
.clothes-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.clothes-description img{
    width: 50%;
}
.clothes-description button{
    padding: 12px;
    border-radius: 9px;
}
.location-section{
    display: flex;
    flex-direction: row;
    margin-left: 14%;
    padding: 10px;
}
.hanger{
    width: 40%;
}
.footer-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.last-section{
    display:inline-block;
    list-style-type: none;
}
.find-us{
    display: flex;
    flex-direction: column;

}
.find-us-icons{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.footer-div-1{
    display: flex;
    flex-direction: column;
}